
@{
    ViewBag.Title = "HomePage";
}

<h2>NAA Systems</h2>

@Html.ActionLink("Login to an existing Account", "Login", new { Controller = "Account" }) <br>
@Html.ActionLink("Register an Account", "Register", new { Controller = "Account" }) <br><br>

