
@{
    ViewBag.Title = "StaffHome";
}

<h2>StaffHome</h2>
<p>@ViewBag.userId</p>

@Html.ActionLink("Display List of Applicants", "Profiles", new { Controller = "NAA" }) <br>
@Html.ActionLink("University Manager", "UniversityManager", new { Controller = "NAA" }) <br>
